{
    "presets": [
        [
            "@babel/preset-es2015",
            {
                "targets": {
                    "node": "current"
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
