{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"                    
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins":[
        "@babel/proposal-object-rest-spread"
    ],
    "sourceMaps": "inline"
}
